/* STYLE GUIDE STYLING IGNORE */
body {
  font-family: 'Lato', sans-serif;
  color: #333; }

section {
  padding: 20px 10px; }

section:nth-of-type(even) {
  background-color: #FAFAFA;
  background: #FAFAFA; }

.content {
  margin: 0 auto;
  width: 900px; }

/* PRIMARY COLORS */
button.green, input.green[type="submit"] {
  background-color: #79BD9A; }

button.teal, input.teal[type="submit"] {
  background-color: #3B8686; }

button.blue, input.blue[type="submit"] {
  background-color: #0B486B; }

input[type="text"].green:focus {
  border-color: #79BD9A; }

input[type="text"].teal:focus {
  border-color: #3B8686; }

input[type="text"].blue:focus {
  border-color: #0B486B; }

/* NAVBAR */
.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: #3B8686;
  color: white;
  line-height: 50px;
  padding: 0 20px; }
  .navbar .logo {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: white; }
  .navbar nav {
    display: inline-block;
    float: right; }
    .navbar nav a {
      font-size: 0.9em;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      color: #F3F3F3; }
      .navbar nav a:hover {
        color: white; }
    .navbar nav .with-border {
      padding: 5px 15px;
      margin: 0 10px;
      border: 2px solid #F3F3F3;
      border-radius: 2px; }
      .navbar nav .with-border:hover {
        border: 2px solid white; }

/* BUTTON */
button, input[type="submit"], .button {
  font-family: 'Montserrat', sans-serif;
  margin: 0 10px;
  border: none;
  color: white;
  height: 45px;
  width: 200px;
  line-height: 45px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 0; }
  button:hover, input[type="submit"]:hover, .button:hover {
    top: -1px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }
  button:active, input[type="submit"]:active, .button:active {
    top: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  button:focus, input[type="submit"]:focus, .button:focus {
    outline: none;
    top: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

/* INPUTS */
label {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 10px;
  font-size: 0.9em;
  color: #777; }

.radio-button {
  display: inline-block; }
  .radio-button .radio-label {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    border: 2px solid #DADADA;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    position: relative; }
  .radio-button input[type="radio"]:checked ~ .radio-label {
    border-color: #3B8686;
    background-color: #3B8686;
    color: white; }

input[type="text"], input[type="password"], input[type="email"], input[type="username"], input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #DADADA;
  height: 45px;
  width: 400px;
  padding: 0 15px;
  border-radius: 2px; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="username"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px solid rgba(11, 72, 107, 0.5);
    transition-duration: 500ms; }

input[type="submit"] {
  margin: 10px 0;
  display: block; }

.hidden {
  display: none; }

.slider {
  height: 500px;
  background-image: src("http://www.ctamericas.com/content_images/ChinaUS_Full.jpg"); }

/* IMAGES */
img.infographic {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=app.css.map */
