// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* STYLE GUIDE STYLING IGNORE */

body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

section {
  padding: 20px 10px;
}

section:nth-of-type(even) {
  background-color: #FAFAFA;
  background: #FAFAFA;
}

.content {
  margin: 0 auto;
  width: 900px;
}

/* PRIMARY COLORS */

$green: #79BD9A;
$teal: #3B8686;
$blue: #0B486B;

button.green { background-color: $green; }
button.teal { background-color: $teal; }
button.blue { background-color: $blue; }

input[type="text"].green:focus { border-color: $green; }
input[type="text"].teal:focus { border-color: $teal; }
input[type="text"].blue:focus { border-color: $blue; }

/* NAVBAR */

.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: $teal;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  
  .logo {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
  }

  nav {
    display: inline-block;
    float: right;

    a {
      font-size: 0.9em;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      color: #F3F3F3;

      &:hover {
        color: white;
      }
    }

    .with-border {
      padding: 5px 15px;
      margin: 0 10px;
      border: 2px solid #F3F3F3;
      border-radius: 2px;

      &:hover {
        border: 2px solid white;
      }
    }
  }
}


/* BUTTON */

button, .button {
  font-family: 'Montserrat', sans-serif;
  margin: 0 10px;
  border: none;
  color: white;
  height: 45px;
  width: 200px;
  line-height: 45px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 0;

  &:hover {
    top: -1px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    top: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
    top: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

/* INPUTS */

label {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 10px;
  font-size: 0.9em;
  color: #777;
}

.radio-button {
  display: inline-block;

  .radio-label {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    border: 2px solid #DADADA;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    position: relative;
  }

  input[type="radio"]:checked ~ .radio-label {
    border-color: $teal;
    background-color: $teal;
    color: white;
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="username"], input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #DADADA;
  height: 45px;
  width: 400px;
  padding: 0 15px;
  border-radius: 2px;

  &:focus {
    outline: none;
    border: 2px solid rgba(11, 72, 107, 0.5);
    transition-duration: 500ms;
  }
}

input[type="submit"] {
  @extend button;
  margin: 10px 0;
  display: block;
}

.hidden {
  display: none;
}


.slider {
  height: 500px;
  background-image: url("https://s3-us-west-2.amazonaws.com/globely-assets/map.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* IMAGES */
img.infographic {
  display: block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.content-buttons {
  margin-top: 300px;
}

.product {
border: 5px solid;
border-color: $teal;
width: 300px;
padding: 10px;
.product-title {
  text-align: center;
  color: $blue
} 
.product-image {
  text-align: center;
}
.product-desc {
  border: 1px solid;
}
}
