// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'normalize';
@import 'gallery';

/* PRIMARY COLORS */

$salmon: #ff7777;

$lightgreen: #86c3a4;
$green: #79BD9A;
$darkgreen: #6caa8a;

$teal: #3B8686;
$lightteal: #4E9292;
$darkteal: #357878;

$lightblue: #235a79;
$blue: #0B486B;
$darkblue: #094060;

.button.green { background-color: $green; }
.button.teal { background-color: $teal; }
.button.blue { background-color: $blue; }

button.green { background-color: $green; }
button.teal { background-color: $teal; }
button.blue { background-color: $blue; }

input[type="text"].green:focus { border-color: $green; }
input[type="text"].teal:focus { border-color: $teal; }
input[type="text"].blue:focus { border-color: $blue; }


/* STYLE GUIDE STYLING IGNORE */

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #666;
}

section {
  padding: 40px 20px;
}

section:nth-of-type(odd) {
  background-color: #FAFAFA;
  background: #FAFAFA;
}

.content {
  overflow: auto;
  margin: 0 auto;
  width: 1200px;
}

/* DEFAULTS */

figure {
  margin: 0;
}

a {
  color: white; 
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

/* SLIDER */

.gallery {
  .item {
    color: white;
    text-align: left;
  }

  h1  {
    font-size: 4rem;
    margin: 0 0 20px 0;
  }

  h2 {
    font-weight: normal;
  }
}

#item-1 {
  background-image: url("/images/slider_image_interconnected.png");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -1px;
}

#item-2 {
  box-sizing: border-box;
  padding: 0 100px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.slider-full {
  box-sizing: border-box;
  padding: 0 150px;
  display: inline-block;
  position: relative;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  width: 100%;
  float: left;
}

.slider-left {
  @extend .slider-full;
  padding: 0 0 0 150px;
  width: 40%;
  float: left;
}

.slider-right {
  @extend .slider-full;
  padding-right: 0 150px 0 0;
  width: 40%;
  float: right;
}

.slider-center {
  @extend .slider-full;
  width: 40%;
  margin: 0 auto;
}

/* FEATURED PRODUCTS */

.featured {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  height: 50%;
  width: calc(33.33% - 40px);
  float: left;

  // Hack for fixed aspect ratios
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      position: absolute;
    }

    .banner {
      position: absolute;
      background-color: rgba(121, 189, 154, 0.7);
      text-align: center;
      top: 70%;
      width: 100%;
      
      h3, h4 {
        margin: 10px 0;
      }

      h4 {
        font-style: italic;
      }

      &:hover {
        background-color: rgba(111, 179, 144, 0.8);
      }
    }
  }
}

/* STATISTICS */ 

#stats {
  text-align: center;

  h1 {
    margin-bottom: 1.5em;
    font-weight: 100;
  }

  h3 {
    margin: 2em 0 1em 0;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    color: #888;
  }
}

.stats {
  box-sizing: border-box;
  width: calc(33% - 33.333px);
  float: left;

  .canvas-size {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }

  & + & {
    margin-left: 50px;
  }
}

/* NAVBAR */

.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: $teal;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  
  .logo {
    display: inline-block;
    height: 100%;
  }

  nav {
    display: inline-block;
    float: right;

    a {
      font-size: 0.9em;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      color: #F3F3F3;

      &:hover {
        color: white;
      }
    }

    .with-border {
      padding: 5px 15px;
      margin: 0 10px;
      border: 2px solid #F3F3F3;
      border-radius: 2px;

      &:hover {
        border: 2px solid white;
      }
    }
  }
}

/* FOOTER */

footer{
  #logo{
    text-align: center;
  }

  #language{
    text-align: center;
    color:#E7E7E7;
  }
  #languageIn{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif
  }

  .footer-box{
    text-align: center;
    float: left;
    width: 33%;
  }
  #footer-bar{
    text-align: center;
    background-color: $teal;
    height: 40px;
    padding: 10px;
  }
  #box-wrapper{
    display: block;
    height: 200px;
  }
  #footer-bar-element{
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  #footer-separator{
    color: white;
  }
  #footer-clickable{
    color: #195A5A;
    font-family: 'Montserrat', sans-serif;

  }
  #footer-label{
    color:  $teal;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
  }
}




/* APPLY NOW SECTION */

#apply-now {
  text-align: center;

  .button {
    margin: 20px;
  }
}

/* BUTTON */

button, .button {
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  height: 45px;
  width: 200px;
  line-height: 45px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  top: 0;
  text-decoration: none;

  & + & {
    margin: 0 10px;
  }

  &:hover {
    top: -1px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    background-color: $lightteal;
  }

  &:active {
    top: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: $darkteal;
  }

  &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    outline: none;
  }

}

/* INPUTS */

label {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 10px;
  font-size: 0.9em;
  color: #777;
}

input[type="text"], input[type="password"], input[type="email"], input[type="username"] {
  box-sizing: border-box;
  border: 2px solid #DADADA;
  height: 45px;
  width: 400px;
  padding: 0 15px;
  border-radius: 2px;

  &:focus {
    outline: none;
    border: 2px solid rgba(59, 134, 134, 0.75);
    transition-duration: 500ms;
  }
}

input[type="submit"] {
  @extend button;
  margin: 10px 0;
  display: block;
}

.hidden {
  display: none;
}

/* IMAGES */

img.infographic {
  display: block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.content-buttons {
  margin-top: 300px;
}

.product {
  border: 5px solid;
  border-color: $teal;
  width: 300px;
  padding: 10px;

  .product-title {
    text-align: center;
    color: $blue;
  } 
  .product-image {
    text-align: center;
  }
  .product-desc {
    border: 1px solid;
  }
}

/* APPLY PAGE */

#apply {
  padding-top: 60px;

  .card {
    width: 30vw;
    min-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 50px;
    border: 0;
    box-shadow: none;
  }

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
  }

  input {
    width: 100%;

    &:focus {
      border-color: $green;
    }

    &:valid {
      border-color: $darkgreen;
    }

    &[type=submit] {
      height: 50px;
      margin-top: 38px;
      background-color: $green;

      &:hover {
        background-color: $lightgreen;
      }

      &:active {
        background-color: $darkgreen;
      }
    }
  }
}

.radio-button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  .radio-label {
    float: left;
    box-sizing: border-box;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-right: 2px solid #DADADA;
    border-top: 2px solid #DADADA;
    border-bottom: 2px solid #DADADA;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;

    &:first-of-type {
      border-left: 2px solid #DADADA;
      border-radius: 2px 0 0 2px;
    }

    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }

    &:hover {
      transition-duration: 100ms;
      color: white;
      background-color: $lightgreen;
    }
  }

  input[type="radio"]:checked + .radio-label {
    background-color: $darkgreen;
    color: white;
  }
}


/* PRODUCT PAGE */

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.card .image {
  max-width: 100%;
  overflow: hidden;
  height: 260px;
  border-radius: 4px 4px 0 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .image img {
  width: 100%;
  max-width: 100%;
}

.product-image {
  width: 180px;
}

.product-info {
  margin-top: 30px;
  .green {
  margin-left: -40px;
  }
}

.product-title {
 font-family: 'Montserrat';
}

.fa-star, .fa-star-o:hover {
  background: yellow;
}

